@model MVCBookk.ViewModels.BookGenresEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>

            <!--
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <img src="~@ViewData["ImageUrl"]" height="100" width="100" alt="" asp-append-version="true" />
    </div>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div class="mb-2">
            <label for="File" class="form-label"> Select a file to upload </label>
            <input id="File" name="File" type="file" class="form-control" />
        </div>
        <div class="mb-2 form-group">
            <button class="btn btn-primary">Upload</button>
        </div>
    </form>
    -->
            <div class="form-group">
                <label asp-for="Download" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Download" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="Download" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.YearPublished" class="control-label"></label>
                <input asp-for="Book.YearPublished" class="form-control" />
                <span asp-validation-for="Book.YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label"></label>
                <select asp-for="Book.AuthorId" class="form-control" asp-items="ViewBag.AuthorId">
                    <option value="">Select</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="SelectedGenres" class="control-label">Genres</label>
                <select asp-for="SelectedGenres" class="form-control" asp-items="Model.GenreList" multiple></select>
                </select>
                <span asp-validation-for="SelectedGenres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.NumPages" class="control-label"></label>
                <input asp-for="Book.NumPages" class="form-control" />
                <span asp-validation-for="Book.NumPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Publisher" class="control-label"></label>
                <input asp-for="Book.Publisher" class="form-control" />
                <span asp-validation-for="Book.Publisher" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Book.DownloadUrl" class="control-label"></label>
                <input asp-for="Book.DownloadUrl" class="form-control" />
                <span asp-validation-for="Book.DownloadUrl" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
