@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .display-4 {
        color: #333;
    }

    .lead {
        color: #666;
    }

    a {
        color: #007bff;
    }

        a:hover {
            color: #0056b3;
            text-decoration: underline;
        }
</style>

<div class="container text-center mt-5">
    <em><h4 class="display-4">Welcome to Ilijana's Book Store'</h4></em>
</div>
<!---
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="~@ViewData["ImageUrl"]" height="100" width="100" alt="" asp-append-version="true" />
</div>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <div class="mb-2">
        <label for="File" class="form-label"> Select a file to upload </label>
        <input id="File" name="File" type="file" class="form-control" />
    </div>
    <div class="mb-2 form-group">
        <button class="btn btn-primary">Upload</button>
    </div>
</form>
-->
